* {
	box-sizing: border-box;
}

/* ---- base element styles ---- */
body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3rem;
}

h1,
h2 {
	text-align: center;
}

p {
	text-align: center;
}

ul {
	width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
}

img {
	max-width: 100%;
}

ul li {
	list-style-type: none;
	display: inline-block;
	background: white;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	padding: 10px 30px;
	font-size: 1.5rem;
}

/* ---- base layout styles ---- */

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.main-header {
	padding-bottom: 20px;
	background: #fffafe;
}

.banner {
	color: black;
	background: #fffafe;
	text-align: center;
	padding: 1em;
	margin-bottom: 50px;
}

.summary {
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
}

.main-nav a {
	display: block;
}
.profile-img {
	margin: 30px auto;
}

.main-footer {
	background: #fffafe;
}

.contact {
	width: 90%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background: #fffafe;
}

.footer-name {
	float: left;
	padding: 15px;
	background: white;
}

.footer-link {
	float: right;
	padding: 15px;
	background: white;
}

/* ---- pseudo styles ---- */
a:link {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* ---- media queries ---- */
