* {
	box-sizing: border-box;
}

/* ---- base element styles ---- */
body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3rem;
	margin-top: 0;
}

h1,
h2 {
	text-align: center;
}

p {
	text-align: center;
}

ul {
	width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
	list-style: none;
}

img {
	max-width: 100%;
}

/* ---- base layout styles ---- */

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.main-header {
	margin-top: 0;
	padding-bottom: 20px;
	background: #fffafe;
	padding-top: .67em;
	text-align: center;
}

.banner {
	color: black;
	background: #fffafe;
	text-align: center;
	padding: 1em;
	margin-bottom: 50px;
	border-bottom: 1px solid lightgray;
}

.summary {
	line-height: 1.5em;
	font-size: 1.3em;
	font-weight: 300;
}

.main-nav a {
	display: block;
}

.profile-img {
	margin: 30px auto;
}

.main-footer {
	background: #fffafe;
}

.main-nav a {
	list-style-type: none;
	display: inline-block;
	background: white;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	padding: 10px 30px;
	font-size: 1.5rem;
}

#skills li {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	padding: 5px 30px;
	font-size: 1.2rem;
}

#skills {
	padding-bottom: 30px;
}

.col p {
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 300;
}

.contact {
	width: 90%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	background: #fffafe;
	font-weight: 300;
	line-height: 1.5em;
}

.footer-name {
	float: left;
	padding: 15px;
}

.footer-link {
	float: right;
	padding: 15px;
}

/* ---- pseudo styles ---- */
a:link {
	text-decoration: none;
	color: midnightblue;
	text-transform: uppercase;
}

a:visited {
	color: darkgray; /* EXCEEDS CRITERIA*/
}

a:hover {
	border: 1px solid lightgray; /* EXCEEDS CRITERIA*/
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#footer-nav {
	display: none;
}

/* ---- media queries ---- */

@media (min-width: 768px) {
	.main-header {
		padding-top: 30px;
		position: fixed; /* EXCEEDS CRITERIA*/
		box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
		width: 100%;
		top: 0;
	}

	.banner {
		margin-top: 204.16px;
	}

	.main-nav,
	.main-nav li {
		display: inline-block;
	}

	.name {
		padding-top: 10px;
	}

	.summary {
		float: left;
		width: 60%;
		padding: 60px 20px;
	}

	.profile-img {
		float: right;
		width: 40%;
	}

	.col {
		float: left;
		width: 50%;
		padding: 10px;
	}

	#portfolio {
		margin-top: 100px;
	}

	.contact p {
		max-width: 350px;
		margin: 10px auto;
	}

	.mid-padding {
		padding-top: 204.16px;
	}

	#btt-link {
		display: none;
	}

	.footer-nav {
		display: inline-block;
	}
}

@media (min-width: 1024px) {
	.name {
		float: left;
		width: 30%;
		font-size: 2em;
	}

	.main-nav {
		float: right;
		padding: 10px;
		margin: 0;
		width: 60%;
	}

	.main-nav a {
		font-size: 1.1em;
	}

	.col {
		width: 33%;
	}

	.banner {
		margin-top: 120px;
	}

	.padding {
		padding-top: 125px;
	}
}
